## ch2-note8-var.ipynb by PA12

## 변수: 변수란?

In [1]:
a = [1, 2, 3]
a

[1, 2, 3]

In [2]:
id(a)

2248988985984

In [3]:
b = a

In [4]:
id(a), id(b)

(2248988985984, 2248988985984)

In [5]:
a is b

True

In [7]:
a[1] = 4
a, b

([1, 4, 3], [1, 4, 3])

In [8]:
a is b

True

In [10]:
b = [1, 2, 3]
id(b)

2249005675200

In [11]:
a is b

False

In [12]:
a = [1, 2, 3]
b = a[:]

In [13]:
a[1] = 4
a, b

([1, 4, 3], [1, 2, 3])

In [16]:
a = [1, 2, 3]

In [18]:
b is a, a is b

(False, False)

In [19]:
a, b = ("python", "life")
a

'python'

In [20]:
b

'life'

In [21]:
a, b

('python', 'life')

In [22]:
[a, b] = ["python", "life"]
a

'python'

In [23]:
b

'life'

In [24]:
a = 3
b = 5
a, b = b, a

In [25]:
a

5

In [26]:
b

3