## ch2-note2-string.ipynb by PA12

## 문자열:

In [2]:
print("문자열: '")
food = "Python's favorite food is perl"
food

문자열: '

"Python's favorite food is perl"

In [3]:
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

## 문자열: \ 이용

In [8]:
food = 'Python\'s favorite food is perl'
food

"Python's favorite food is perl"

In [9]:
say = "\"Python is very easy.\" he says."
say

'"Python is very easy." he says.'

## 문자열: 이스케이프 코드 이용

In [10]:
multiline = "Life is too short\nYou need python"
multiline

'Life is too short\nYou need python'

In [11]:
print(multiline)

Life is too short
You need python

In [13]:
multiline = """
... Life is too short
... You need python
... """
multiline

'\nLife is too short\nYou need python\n'

In [14]:
print(multiline)

Life is too short
You need python

## 문자열 연산: 더하기

In [15]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

## 문자열 연산: 곱하기

In [16]:
a = "python"
a * 2

'pythonpython'

In [17]:
print("=" * 50)
print("I am now coding Python!")
print("=" * 50)

==================================================
I am now coding Python!
==================================================

## 문자열 연산: 길이 구하기 - len()

In [18]:
a = "Life is too short"
len(a)

17

## 문자열: 인덱싱이란?

In [20]:
a = "Life is too short, You need Python"
a[3]

'e'

In [21]:
a[15]

'r'

## 문자열: 인덱싱 활용

In [22]:
a = "Life is too short, You need Python"
a[0]

'L'

In [23]:
a[12]

's'

In [24]:
a[-1]

'n'

In [26]:
a[-2]

'o'

In [27]:
a[-5]

'y'

In [28]:
a[-12]

' '

## 문자열: 슬라이싱이란?

In [31]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [33]:
a[0:4]

'Life'

In [34]:
a[0:5]

'Life '

In [35]:
a[5:7]

'is'

In [36]:
a[12:17]

'short'

In [37]:
a[:4]

'Life'

In [38]:
a[19:]

'You need Python'

In [39]:
a[:17]

'Life is too short'

In [40]:
a[:]

'Life is too short, You need Python'

In [41]:
a[19:-7]

'You need'

## 문자열: 슬라이싱 응용?

In [45]:
a = "20190909Sunny"
date = a[:8]
weather = a[8:]
date

'20190909'

In [46]:
weather

'Sunny'

In [47]:
a = "20190917Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
year,day,weather

('2019', '0917', 'Rainy')

In [50]:
a = "Pithon"
a[:1]

'P'

In [51]:
a[2:]

'thon'

In [52]:
a[:1] + 'y' + a[2:]

'Python'

## 문자열: 포매팅이란?

In [53]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [54]:
"I eat %s apples." % "five"

'I eat five apples.'

In [55]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [57]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

## 문자열: 포맷 코드

In [59]:
"I have %s apples" % 3

'I have 3 apples'

In [60]:
"rate is %s" % 3.234

'rate is 3.234'

In [62]:
"Error is %d%%." % 98

'Error is 98%.'

## 문자열: 포맷 코드와 숫자 함께 사용하기

In [63]:
"%10s" % "hi"

'        hi'

In [64]:
"%-10sjane." % "hi"

'hi        jane.'

In [65]:
"%0.4f" % 3.42134234

'    3.4213'

In [68]:
"%0.4f" % 3.42134234

'3.4213'

In [67]:
"%10.4f" % 3.42134234

'    3.4213'

## 문자열: format 함수를 사용한 포매팅

In [69]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [70]:
"I eat {0} {1} apples".format(3, 4)

'I eat 3 4 apples'

In [72]:
"I eat {0} apples".format("five")

'I eat five apples'

In [73]:
"I eat {0} apples from {1} boxes".format("five", "three")

'I eat five apples from three boxes'

In [75]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [76]:
"I eat {0} apples".format(number + 1)

'I eat 4 apples'

In [77]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [78]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [79]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [80]:
"{0:<10}".format("hi")

'hi        '

In [81]:
"{0:>10}".format("hi")

'        hi'

In [82]:
"{0:^10}".format("hi")

'    hi    '

In [83]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [86]:
"{0:<10}{1:>10}".format("hi",'hcit')

'hi              hcit'

In [84]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [85]:
"{0:10.4f}".format(y)

'    3.4213'

In [87]:
"{{ and }}".format()

'{ and }'

## 문자열: f 문자열 포매팅

In [89]:
name = "홍길동"
age = 30
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [90]:
age = 30
f"나는 내년이면 {age+1}살이 된다."

'나는 내년이면 31살이 된다.'

In [91]:
d = {"name": "홍길동", "age": 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [93]:
f'{"hi":<10}'

'hi        '

In [94]:
f'{"hi":>10}'

'        hi'

In [95]:
f'{"hi":^10}'

'    hi    '

In [96]:
y = 3.42134234
f"{y:0.4f}"

'3.4213'

In [97]:
f"{y:10.4f}"

'    3.4213'

In [98]:
f"{{ and }}"

'{ and }'

## 문자열: 관련 내장 함수들

In [99]:
a = "hobby"
a.count("b")

2

In [101]:
a = "Python is the best choice"
a.find("b")

14

In [102]:
a.find("k")

-1

In [104]:
a = "Life is too short"
a.index("t")

8

In [106]:
",".join("abcd")

'a,b,c,d'

In [107]:
",".join(["a", "b", "c", "d"])

'a,b,c,d'

In [108]:
a = "hi"
a.upper()

'HI'

In [109]:
a = "IoT"
a.lower()

'iot'

In [110]:
a = " hi "
a.lstrip()

'hi '

In [111]:
a.rstrip()

' hi'

In [112]:
a.strip()

'hi'

In [113]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [115]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [116]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

## 도전하기

In [118]:
"{0:!^12}".format("python")

'!!!python!!!'

In [119]:
f'{"python":!^12}'

'!!!python!!!'