# ch2-note4-tuple.ipynb by PA12

## 튜플: tuple 이란?

- 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
- 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

In [3]:
even = (2, 4, 6, 8)
even

(2, 4, 6, 8)

In [8]:
t1 = ()
t1

()

In [9]:
t2 = (1,)
t2

(1,)

In [10]:
t3 = (1, 2, 3)
t3

(1, 2, 3)

In [12]:
t4 = 1, 2, 3
t4

(1, 2, 3)

In [13]:
t5 = ("a", "b", ("ab", "cd"))
t5

('a', 'b', ('ab', 'cd'))

- t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에
- 콤마(,)를 반드시 붙여야 한다는 것과
- t4 = 1, 2, 3처럼 괄호( )를 생략해도 무방하다.

In [14]:
t1 = (1, 2, "a", "b")
t1

(1, 2, 'a', 'b')

## 튜플: 사용방법

In [15]:
t1 = (1, 2, "a", "b")
t1

(1, 2, 'a', 'b')

In [16]:
t1[0]
t1

(1, 2, 'a', 'b')

In [17]:
t1[3]
t1

(1, 2, 'a', 'b')

In [18]:
t1 = (1, 2, "a", "b")
t1

(1, 2, 'a', 'b')

In [19]:
t1[1:]
t1

(1, 2, 'a', 'b')

In [20]:
t1[2:-1]
t1

(1, 2, 'a', 'b')

In [21]:
t1[2:]
t1

(1, 2, 'a', 'b')

In [22]:
t1 = (1, 2, "a", "b")
t1

(1, 2, 'a', 'b')

In [23]:
t2 = (3, 4)
t2

(3, 4)

In [24]:
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [25]:
t2 = (3, 4)
t2

(3, 4)

In [26]:
id(t2)

2728101368128

In [28]:
t2 = t2 * 3
id(t2)

2728076573376

In [29]:
t1 = (1, 2, "a", "b")
len(t1)

4